{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<form action="" method="post">
    <input type="text" name="name">
    <button>submit</button>
</form>

{% render 'partials/footer.liquid' %}