{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<h1 class="titel">vacature toevoegen</h1>
<form action="/toevoegen" method="post">

    <label for="titel">titel</label>
    <input type="text" name="title">

    <label for="language">language</label>
    <input type="text" name="language">

    <label for="company">company</label>
    <input type="text" name="company">

    <label for="hours">hours</label>
    <input type="text" name="hours">

    <label for="location">location</label>
    <input type="text" name="location">

    <button class="submit">submit</button>
</form>

{% render 'partials/footer.liquid' %}